@using XTramileTest.Dto

@model WeatherDto


<br /> <h1>Weather Information</h1>
<div class="row">
    <div class="3">Location</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Time</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Wind</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Visibility</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Sky Conditions</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Temperatur C</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Temperatur F</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Dew Point</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Relative Humidity</div>
    <div class="9"></div>
</div>

<div class="row">
    <div class="3">Pressure</div>
    <div class="9"></div>
</div>